{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>Filtrer</h3>
            {{ form(form)}}
        </div>
        <div class="col-md-9">
            <h3 class="text-center">Nos produits</h3>

            <div class="row product-container">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="product-item text-center">
                        <a href="{{ path ('product', { 'slug' : product.slug })}}"><img class="img-fluid" src="{{ asset ('assets/uploads/')}}{{product.illustration}}" alt="{{ asset ('assets/uploads/')}}{{product.illustration}}"></a>
                        <h5> {{ product.name}} </h5>
                        <span>{{ product.subtitle}}</span> 
                        <br>
                        <span class="font-weight-bold">{{ (product.price / 100) | number_format(2, '.', ',')}} €</span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
