{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande- La boutique{% endblock %}
{% block script %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
    <h2>Mon récapitulatif</h2>
    <p>Vérifier vos informations avant de payer la commande</p>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <strong> Mon adresse de livraison </strong> <br>
            <div class="form-check">
                {{ delivery | raw}}
            </div>
            
            <hr>
            <strong>Mon transporteur</strong> <br>
            <div class="form-check">
                {{ carrier.name}} <br>
                {{ carrier.description}} <br>
                {{ carrier.price | number_format(2, ',', '.')}} €
            </div>
    
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <p class="font-weight-bold">Ma commande</p>
            </div>
            {% set total = null %}
            {% for product in cart %}

                <div class="row">
                    <div class="col-2">
                        <img src="{{ asset ('assets/uploads/')}}{{ product.product.illustration}}" alt="" height="75px"><br/>
                    </div>
                    <div class="col-8 my-auto">
                        {{ product.product.name }} <br>
                        <small>{{product.product.subtitle }}</small> <br>
                        x {{ product.quantity}}
                    </div>
                    <div class="col-2 my-auto font-weight-bold">
                        {{ ((product.product.price * product.quantity) / 100) | number_format(2, ',', '.')}} €
                    </div>
                </div>
                {% set total = total + (product.product.price * product.quantity) %}
     
                
            {% endfor %}
            
            <hr>
            <strong>Sous-total : </strong> {{ (total / 100) | number_format(2, ',', '.')}} € <br>
            <strong>Livraison : </strong> {{carrier.price}} € 
            <hr>
            <strong>Total : </strong> {{ ((total /100) +  carrier.price)| number_format(2, ',', '.') }} € 
            

            <a id="checkout-button" class="btn btn-block btn-success mb-3 mt-3">Payer | {{ ((total /100) +  carrier.price)| number_format(2, ',', '.') }} € </a>
        </div>
    </div>


{% endblock %}

{% block script %}
<script type="text/javascript">
    var stripe = Stripe("pk_test_51JTmESLKB8SafAqORGPVucohnCyrb4Z8zWOW5VKDZQthfrVTu9hTeRjwtllHc5wRqXuVATK1w4iPPILQcILuqdp500il6Evkyb");
    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {
        fetch("/create-session.php", {
            method: "POST",
        })
    })
</script>

    
{% endblock script %}

